.toolbar-button {
    
}

.about-free-space {
    -fx-background-color: #044e9c;
}

.about-value-label {
    -fx-font-weight: bold;
}

.property-id-label {
    -fx-text-fill: #949493;
    -fx-alignment: center-right;
    -fx-max-width: 1000;
    -fx-max-height: 1000;
    -fx-padding: 3 3 3 3;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.property-status-label {
    -fx-text-fill: #949493;
    -fx-alignment: center-right;
    -fx-max-width: 1000;
    -fx-max-height: 1000;
    -fx-padding: 3 3 3 3;
}

.property-id-value {
    -fx-alignment: center-left;
    -fx-max-width: 1000;
    -fx-max-height: 1000;
    -fx-padding: 3 3 3 3;
}

.property-status-value {
    -fx-alignment: center-left;
    -fx-max-width: 1000;
    -fx-max-height: 1000;
    -fx-padding: 3 3 3 3;
}

.properties-label {
    -fx-text-fill: #333333;
    -fx-alignment: center-right;
    -fx-max-width: 1000;
    -fx-max-height: 1000;
    -fx-padding: 3 3 3 3;
}

.properties-value {
    -fx-alignment: center-left;
    -fx-max-width: 1000;
    -fx-max-height: 1000;
    -fx-padding: 3 3 3 3;
}

.link-open-label {
    -fx-alignment: center-center;
    -fx-max-width: 1000;
    -fx-max-height: 1000;
    -fx-padding: 3 3 3 3;
}

.properties-title {
    -fx-underline: true;
    -fx-font-weight: bold;
}

.properties-textfield {
    
}
/**
 * BOM TABLE
 */
/**
 * Part row
 */
.part-row:selected {
    -fx-background-color: darkorange;
}
.part-row:selected .text {
    -fx-text-fill: black;
}
/**
 * Fuse row
 */
.fuse-row {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}
.fuse-row:selected {
    -fx-background-color: blue;
}
.fuse-row:selected .text {
    -fx-text-fill: silver;
}
/**
 * Fuse carrier row
 */
.fuse-carrier-row {
    -fx-background-color: lightgreen;
    -fx-text-fill: black;
}
.fuse-carrier-row:selected {
    -fx-background-color: green;
}
.fuse-carrier-row:selected .text {
    -fx-text-fill: silver;
}

